
.clipped {
    --notchSize: 8px;
    clip-path: polygon(
      0% 0%,
      calc(100% - var(--notchSize)) 0%,
      100% var(--notchSize),
      100% 100%,
      var(--notchSize) 100%,
      0% calc(100% - var(--notchSize))
    );
}
.clipped:hover {
filter: brightness(75%);
}
  