
/*#region Link modification*/
.text-theme {
    color: var(--theme-color) !important;
}
.text-base,
a {
color: var(--base-darker-background);
}

a:hover {
text-decoration: none;
color: var(--dark-text-color);
}
/*#endregion Link modification*/
  