
/*#region Root definitions*/
:root {
    --theme-color: var(--success);
    --theme-color-darker: var(--success-darker);
    --theme-button-text-color: var(--light);
    --theme-text-color: var(--dark);
}
/*#endregion Root definitions*/

* {
    font-family: 'Comfortaa', cursive;
}

footer.copyright > * {
    color: #FFFFFF;
}
.media-body p {
    margin-bottom: 0;
}
.fa .checked {
    color: var(--primary);
}

.categories .list-group-item {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
}
.categories .list-group-item:first-child {
    margin-top: 8px !important;
    clip-path: polygon(
        var(--notchSize)  0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% var(--notchSize)
    );
}
.categories .list-group-item:last-child {
    margin-bottom: 16px !important;
    clip-path: polygon(
        0%  0%,
        100% 0%,
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%,
        0% 100%
      );
}

.categories .list-group-item:first-child:last-child {
    margin-top: 8px !important;
    clip-path: polygon(
        var(--notchSize)  0%,
        100% 0%,
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%,
        0% 100%,
        0% var(--notchSize)
    );

}
.pluginList {
    margin-top: 16px !important;
}

.nav-link {
    clip-path: polygon(
      var(--notchSize)  0%,
      100% 0%,
      100% calc(100% - var(--notchSize)),
      calc(100% - var(--notchSize)) 100%,
      0% 100%,
      0% var(--notchSize)
    );
}