/*
  Youtube video module
 */
youtube-embed {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Montserrat";
    position: relative;
    display: block;
    height: auto;
    background-color: #DDDDDD;

}
youtube-embed > video-title {
    color: #000000;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat";
}
youtube-embed > description {
   position: relative;
   display: block;
   color: #000000;

}
