@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
html, body {
    margin: 0;
    height: 100%;
}

/*#region Root definitions*/
:root {
  --primary: #007BFF;
  --primary-darker: #0069D9;

  --secondary: #6C757D;
  --secondary-darker: #5A6268;

  --success: #28A745;
  --success-darker: #218838;

  --danger: #DC3545;
  --danger-darker: #C82333;

  --warning: #FFC107;
  --warning-darker: #E0A800;

  --info: #17A2B8;
  --info-darker: #138496;

  --light: #F8F9FA;
  --light-darker: #E2E6EA;

  --dark: #343A40;
  --dark-darker: #23272B;

  --theme-color: var(--primary);
  --theme-color-darker: var(--primary-darker);
  --theme-button-text-color: var(--light);
  --theme-text-color: var(--dark);
}
/*#endregion Root definitions*/

* {
  font-family: 'Comfortaa', cursive;
}

/*#region ListGroup modification*/
.list-group-item {
  margin-top: 8px;
  margin-bottom: 8px;
}

div.list-group-item:hover:not(.active),
div.list-group-item:hover:not(.active) * {
  color: var(--theme-button-text-color) !important;
}

div.list-group-item:hover {
  background-color: var(--theme-color) !important;
  color: var(--theme-button-text-color) !important;
}

div.list-group-item.active,
div.list-group-item.active:hover {
  background-color: transparent !important;
  color: var(--theme-button-text-color) !important;
}
/*#endregion ListGroup modification*/

/*#region Button modification*/
.link-theme {
  color: var(--theme-color) !important;
}

.link-theme:hover {
  color: var(--theme-color-darker) !important;
}

.btn,
.btn-lr,
.list-group-item,
.list-group-item-lr {
  border-radius: 0px !important;
  border: 0px !important;
  --notchSize: 8px;
  clip-path: polygon(
    var(--notchSize)  0%,
    100% 0%,
    100% calc(100% - var(--notchSize)),
    calc(100% - var(--notchSize)) 100%,
    0% 100%,
    0% var(--notchSize)
  );
}

.btn-rl,
.list-group-item-rl {
  --notchSize: 8px;
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% 100%,
    var(--notchSize) 100%,
    0% calc(100% - var(--notchSize))
  );
}

.btn.btn-theme,
.active {
  background-color: var(--theme-color) !important;
  color: var(--theme-button-text-color) !important;
  border: 0px solid var(--theme-color) !important;
}

.btn.btn-theme:hover {
  background-color: var(--theme-color-darker) !important;
  color: var(--theme-button-text-color) !important;
}
/*#endregion Button modification*/

/*#region Nav modification*/
.nav-tabs {
  border: 0px !important;
}

.nav-lang {
  padding: 0.25rem .5rem;
}

.nav-lang:hover {
  filter: brightness(75%);
}

.nav-link:hover {
  color: var(--theme-button-text-color) !important;
  background: var(--theme-color-darker) !important;
}

.nav-link,
.nav-link-rt {
  margin-right: 1rem;
  color: var(--theme-button-text-color);
  border-radius: 0px !important;
  border: 0px !important;
  background: var(--theme-color);
  --notchSize: 8px;
  clip-path: polygon(
    calc(100% - var(--notchSize))  0%,
    100% var(--notchSize),
    100% 100%,
    0% 100%,
    0% 0%
  );
}

.nav-link-lt {
  border-radius: 0px !important;
  color: var(--theme-button-text-color);
  border: 0px !important;
  background: var(--theme-color);
  --notchSize: 8px;
  clip-path: polygon(
    calc(100% - var(--notchSize))  0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% var(--notchSize)
  );
}

.nav-link.active {
  background: var(--theme-color-darker) !important;
  color: var(--theme-button-text-color) !important;
}

.nav-link.active:hover {
  background: var(--theme-color-darker) !important;
  opacity: 75%;
  color: var(--theme-button-text-color) !important;
}

div.nav-container {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgba(10, 10, 10, 0.05);
  background-image: url("../img/background-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-bottom: 16px;
}

a > span.navbar-brand,
a > span.navbar-brand:hover {
  color: var(--theme-color);
}
/*#endregion Nav modification*/

/*#region Link modification*/
.text-theme {
  color: var(--theme-color) !important;
}
.text-base,
a {
  color: var(--base-darker-background);
}

a:hover {
  text-decoration: none;
  color: var(--dark-text-color);
}
/*#endregion Link modification*/

/*#region Footer*/
div.content.container {
  margin-bottom: calc(16px + 1rem + 32px) !important;
}
footer.copyright {
  margin-bottom: 0px !important;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.05);
  background-image: url("../img/background-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 16px;
  padding-bottom: 16px;
  /*position: relative;
  margin-top: calc(-64px - 1rem);
  height: calc(64px + 1rem);
  clear:both;*/
}
/*#endregion Footer*/

/*#region Card*/
.card {
  --notchSize: 8px;
  clip-path: polygon(
    calc(100% - var(--notchSize))  0%,
    100% var(--notchSize),
    100% 100%,
    0% 100%,
    0% 0%
  );
  border: 0px solid black;
}
.card > .card-header {
  border-bottom: 0px solid black;
  background-color: var(--theme-color);
  color: var(--theme-button-text-color);
}

.card > .card-body {
  border-left: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  border-right: 1px solid var(--theme-color);
}

div.name::before,
div.price::before,
div.programming-language::before,
div.source::before,
div.short-description::before {
  color: var(--disabled-color);
}
/*#endregion Card*/

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-bottom: 30px;
}

/*#region Page*/
.page-item.active .page-link {
    color: var(--theme-button-text-color) !important;
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}
.page-link {
    color: var(--theme-color) !important;
    border: 1px solid #dee2e6 !important;
}
.page-item.disabled .page-link {
    color: #6c757d !important;
    background-color: #fff !important;
    border-color: #dee2e6 !important;
}
/*#endregion Page*/

.clipped {
  --notchSize: 8px;
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% 100%,
    var(--notchSize) 100%,
    0% calc(100% - var(--notchSize))
  );
}
.clipped:hover {
  filter: brightness(75%);
}

.app-name {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.alert {
  --notchSize: 8px;
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% 100%,
    var(--notchSize) 100%,
    0% calc(100% - var(--notchSize))
  );
  border: 0px solid transparent;
  border-radius: 0px;
}

input,
input:focus {
    --notchSize: 8px;
    clip-path: polygon(
      0% 0%,
      calc(100% - var(--notchSize)) 0%,
      100% var(--notchSize),
      100% 100%,
      var(--notchSize) 100%,
      0% calc(100% - var(--notchSize))
    );
    border: 0px solid transparent !important;
    border-radius: 0px !important;
    background-color: #EAEAEA !important;
    color: black !important;
    box-shadow: 0 0 0 0 transparent !important;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

input[type="password"] {
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

.form-auth {
  --notchSize: 8px;
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% 100%,
    var(--notchSize) 100%,
    0% calc(100% - var(--notchSize))
  );
}
