body {
    background-color: transparent;
    color: #FFFFFF !important;
}

.form-auth {
    background-color: rgba(108,117,125, .5);
}

.comment {
width: 100%;
max-width: 450px;
padding: 15px;
margin: 0 auto;
}
